html {
    height: 100%;
    min-height: 100%;
}

header {
    width: 100%;
    background-color: #0b0866;
}

header img {
    width: 50%;
}

body {
    text-align: center;
    background-color: #aaaaaa;
    font-family: 'Work Sans', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

body nav {
    position: relative;
    text-align: center;
    background-color: #0b0866;
    width: 100%;
    font-size: 1rem;
}

li {
    display: inline-block;
    font-weight: bold;
    padding: 0.5rem;
}

li a {
    color: white;
}

.wapp {
    text-align: center;
    display: flex;
    align-items: center;
    padding-top: 1.3rem;
    color: green;
}

.tel {
    text-align: center;
    display: flex;
    align-items: center;
    padding-top: 1.3rem;
    color: blue;
}

h2 {
    font-size: 1rem;
    padding: 1rem;
    text-align: justify;
}

p {
    text-align: center;
    padding: 1rem;
    font-size: 1rem;
}

footer {
    margin-top: auto;
    background-color: #0b0866;
    width: 100%;
}

footer img {
    width: 10%;
}